# Twitch App Credentials
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3000/api/auth/twitch/callback

# Nuxt Configuration
NUXT_SESSION_PASSWORD=

# Bot Configuration
STREAMER_CHANNEL=
ENABLE_BOT=

# Axiom Log Configuration
AXIOM_TOKEN=
AXIOM_DATASET=

# Twitch EventSub Transport ('ws' | 'http' | 'ngrok')
TWITCH_EVENTSUB_TRANSPORT=ws
TWITCH_EVENTSUB_SECRET=a-secure-fixed-secret-string-at-least-30-chars
TWITCH_EVENTSUB_HOST=
TWITCH_EVENTSUB_PORT=8080
NGROK_AUTHTOKEN=