# Twitch App Credentials
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3000/api/auth/twitch/callback

# Nuxt Configuration
NUXT_SESSION_PASSWORD=

# Bot Configuration
STREAMER_CHANNEL=

# Axiom Log Configuration
AXIOM_TOKEN=
AXIOM_DATASET=