# Twitch App Credentials
NUXT_TWITCH_CLIENT_ID=
NUXT_TWITCH_CLIENT_SECRET=
NUXT_TWITCH_REDIRECT_URI=http://localhost:3000/api/auth/twitch/callback

# Nuxt Configuration
NUXT_SESSION_PASSWORD=
SKIP_MIGRATIONS= # Set to true to skip database migrations on startup (e.g. if using db:push)

# Bot Configuration
NUXT_STREAMER_CHANNEL=
NUXT_ENABLE_BOT=

# Axiom Log Configuration
AXIOM_TOKEN=
AXIOM_DATASET=

# Twitch EventSub Transport ('ws' | 'http' | 'ngrok')
NUXT_TWITCH_EVENTSUB_TRANSPORT=ws
NUXT_TWITCH_EVENTSUB_SECRET=a-secure-fixed-secret-string-at-least-30-chars
NUXT_TWITCH_EVENTSUB_HOST=
NUXT_TWITCH_EVENTSUB_PORT=8080
NUXT_NGROK_AUTHTOKEN=

# Spotify App Credentials
NUXT_SPOTIFY_CLIENT_ID=
NUXT_SPOTIFY_CLIENT_SECRET=
NUXT_SPOTIFY_REDIRECT_URI=http://localhost:3000/api/auth/spotify